[submodule "rehamovelib"]
	path = rehamovelib
	url = https://github.com/humancomputerintegration/rehamove-integration-lib.git
[submodule "keyinput_module"]
	path = keyinput_module
	url = git@github.com:Philosophistoria/pykeyinput.git
